<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
           All Products
        </a>
    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
        <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
    </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id=""
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
        <a href="{% url 'products' %}?category=vitamins_supplements" class="dropdown-item">Vitamins & Supplements</a>
        <a href="{% url 'products' %}?category=workout equipment" class="dropdown-item">Workout Equipment</a>
        <a href="{% url 'products' %}?category=workout clothing" class="dropdown-item">Workout Clothing</a>
        <a href="{% url 'products' %}?category=sports nutrition" class="dropdown-item">Sports Nutrition</a>
        <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
      </div>
    </li>

     <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'exercise' %}?category=exercise" >
        Exercise Plans
      </a>
     
    </li>


    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id=""
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Nutrition Plans
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="">
        <a href="{% url 'meals' %}?category=weight_loss_plan" class="dropdown-item">Weight Loss Plan</a>
        <a href="{% url 'meals' %}?category=muscle_building_plan" class="dropdown-item">Muscle Building Plan</a>
        <a href="{% url 'meals' %}?category=general_fitness_plan" class="dropdown-item">General Fitness Plan</a>
        <a href="{% url 'meals' %}?category=endurance_training_plan" class="dropdown-item">Endurance Training Plan</a>
      </div>
    </li>
     <li class="nav-item">
         <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'post_list' %}">Blog</a>
     </li>

    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-black"
        href="#" >
       Join Community
      </a>
      </li>
  </ul>
</div>
