<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto ">
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
          Home
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" data-toggle="dropdown">
           All Products
        </a>
    <div class="dropdown-menu border-0">
        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
        <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
    </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        data-toggle="dropdown"
      >
        Products
      </a>
      <div class="dropdown-menu border-0" >
        <a href="{% url 'products' %}?category=vitamins_supplements" class="dropdown-item">Vitamins & Supplements</a>
        <a href="{% url 'products' %}?category=workout_equipment" class="dropdown-item">Workout Equipment</a>
        <a href="{% url 'products' %}?category=workout_clothing" class="dropdown-item">Workout Clothing</a>
        <a href="{% url 'products' %}?category=sports_nutrition" class="dropdown-item">Sports Nutrition</a>
        <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
      </div>
    </li>
    <li class="nav-item">
    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'meals' %}">
        Nutrition Plans
    </a>
    </li>

     <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'workout' %}">
        Workouts
      </a>
     
    </li>

     <li class="nav-item">
         <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'post_list' %}">Blogs</a>
     </li>

    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-black"
        href="{% url 'contact_view' %}" >
       Contact
      </a>
      </li>
  </ul>
</div>
