<!-- contact/templates/contact/contact_form.html -->
{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class=" col-md-6"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
<h2 class="logo-font text-center">Contact Us</h2>
<p class="logo-font text-center">For any queries</p>
<hr class="w-50 mb-1">

<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
<form method="post" action="{% url 'contact_view' %}" >
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit"
        class="container btn btn-secondary btn-sm submit-button ">Submit</button>
</form>
   </div>
  </div>
{% endblock %}