<!-- exercise_plan_template.html -->

{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class=" col-md-6"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Exercise Plans</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
        <div class="container">
            <div class="flex">
                {% for exercise in exercises %}
                    <div class="exercise-card rounded float-start">
                        {% if exercise.image %}
                            <a href="{% url 'exercise_plans_detail' pk=exercise.pk %}">
                                <img class="card-img-top img-fluid max-width: 100%; height:100%;
                                auto:100%;"
                                    src="{{ exercise.image.url }}"
                                    alt="{{ exercise.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'exercise_plans_detail' pk=exercise.pk %}">
                                <img class="card-img-top img-fluid max-width: 100%; height:100%;
                                auto:100%;" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ exercise.name }}">
                            </a>
                            {% endif %}
                            <div class="pb-0">
                                <h3 class="card-title">
                                <a href="{% url 'exercise' %}">{{ day.day_name }}</a></h3>
                                <p class="card-text">{{ exercise.name }}</p>
                            </div> 
                 </div>
           </div>
        </div>
       {% endfor %}
{% endblock %}